header{
background-color: teal;
padding-left: 100px;
}
body{
background-color: black;
}
p{
    color:gray;
}
h1{
    color: blanchedalmond;
}
.box{
    background-color: beige;
border: 15px salmon;
width: 150px;
box-sizing: content-box;
height: 150px;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar a{
color: aqua;
}