header{
background-color: white;
padding-left: 100px;
}
body{
background-color: black;
}
p{
    color:gray;
}

div{
color: aliceblue;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar a{

}